

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.test,
.result,
.public,
.test {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-decoration: none;
}

.web{
  padding-top: 30px;
  font-size: 2rem;
}


.dash{
  font-size:20px;
  display: flex;
  justify-content: space-between ;
  width:60vw;
}

.image{
  padding-top: 30px;
  display:flex;
}

 @media screen and (max-width: 450px) {
  .SidebarNav .web .dash {
    padding-left: 300px;
  } }

